#main {
    
    background-image: url(images/bg.jpg);
    background-size: 100% auto;
    background-position: top;
    text-align: center;
}

.main {
    
    background-image: url(images/bg.jpg);
    background-size: 100% auto;
    background-position: top;
    text-align: center;
}

.overlay {
    
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem 0;
}

#main nav {
    
    padding: 0 2rem;
    color: #FFF;
}

#main nav .logo {
    
    font-size: 1.5rem;
    float: left;
}

#nav-menu a {
    
    margin: 0 1rem;
}

.logo {

    text-decoration: none;    
    font-family: "Big John";
    color: #C1A0CB;
}

#tagline {
    
    display: table;
    text-align: center;
    margin: 2rem auto;
}

#tagline h1 {
    
    font-size: 4rem;
    display: table-row;
}

#tagline p {
    
    margin: 0;
    font-size: 2rem;
    display: table-cell;
    width: 1px;
}

.buttons {
    
    text-align: center;
}

.buttons .row-buttons  {
    
    display: inline-block;
    padding: 1rem 0;
}