body {
    
    font-family: "Cabin", sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: "Raleway", cursive;
    text-transform: uppercase;
}

a {
    
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

header {
    
    background-color: #7AC74F; 
    color: #FFF;
    padding: 0.5rem 1rem;
    clear: both;
}

header .options {
    
    float: right;
}

header .options a {
    
    font-size: 1.2rem;
}

header a {
    
    text-decoration: none;
    color: #FFF;
    font-weight: bolder;
    margin: 0 0.6rem;
}

header a:hover {

    color: #000;
}

header * {
    
    display: inline-block;
    margin: 0;
}

.main {
    
    background-color: #7AC74F; 
    color: #FFF;   
    text-align: center;
    padding: 4rem;
}

.main *:first-child {
    
    margin-top: 0;
}

.main *:last-child {
    
    margin-bottom: 0;
}

.container section {
    
    padding: 2rem 8rem;
    background-color: #FFF;
}

.container section:nth-child(even) {
    
    background-color: #EEE;
}

.container section *:first-child {
    
    margin-top: 0;
}